/* Estilo básico do cabeçalho */
.header {
    position: relative;
    padding: 16px;
  }
  
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-hamburguer {
    cursor: pointer;
  }
  
  /* Estilo para a navegação lateral (menu) */
  .side-nav {
    position: fixed;
    top: 0;
    right: -250px; /* Escondido fora da tela inicialmente */
    width: 250px;
    height: 100%;
    background-color: #000000af;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: right 0.3s ease-in-out; /* Transição suave */
  }
  
  .side-nav a {
    padding: 16px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  /* Quando o menu está aberto */
  .side-nav.open {
    right: 0; /* Move o menu para dentro da tela */
  }
  
  /* Estilo de links ao passar o mouse */
  .side-nav a:hover {
    background-color: #555;
  }
  