

.section1 {
    background-image: url('/images/navbar/rectangle9.svg');
    background-size: cover; /* Para ajustar o tamanho da imagem ao container */
    background-position: center; /* Para centralizar a imagem no container */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
    width: 100%;
    height: 863px; /* Ajuste o tamanho do container conforme necessário */
    color: white;
}